@page
@model serssly.Pages.Feeds.ListModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-page="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feeds[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feeds[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feeds[0].Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feeds) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
